.pag {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

li {
    list-style:none;
    margin:4px;
    width: 30px;
}



.pag-btn,
.pag-btn-activate,
.PyN-button {
   cursor: pointer;
   background-color: rgba(14, 20, 44, 0.791);
   color: rgb(185, 239, 246);
}

.pag-btn-activate{
    color:rgba(14, 20, 44, 0.791);
    background-color: rgb(185, 239, 246);
}